<div class="container">   
  
<%= form_for @location, url: {action: :update} do |f| %>   
     
   <h3>Add a Location</h3>   
 <%= "<div class=\"errors\">#{@location.errors.full_messages.first}</div>".html_safe if @location.errors.any? %>   
    <p>   
  
     <div>   
            <label>Lattitude</label>   
            <%= f.text_field :lattitude ,class: 'form-control',required: true%>   
     </div>   
        
     <div>   
            <label>Longitude</label>   
            <%= f.text_field :longitude,class: 'form-control',required: true %>   
     </div>   

     <div>   
            <label>Location Name</label>   
            <%= f.text_field :name,class: 'form-control',required: true %>   
    </div>   
  
      </p>   
   <div>   
      <%= link_to 'Back', { controller: 'locations', action: 'index'} %>   
      <%= f.submit 'Update Location', class: 'btn'%>   
    </div>   
<% end %>   
</div> 